@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    line-height: 1.6;
    font-weight: 400;

    background: linear-gradient(to bottom, #46afd8, #00c2de, #00d3d3, #81f7ca);
}